03_Python/data/
04_Data_scraping/dist/
04_Data_scraping/__pycache__
05_Machine_Learning/data
06_Deep_Learning/data
06_Deep_Learning/model

*.exe
*.ipynb_checkpoints
*.json
*.csv
*.tsv
*.xlsx
*.keras
*.joblib
*.env*