html {
  font-size: 8px;
}

article {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  background-color: pink;
}

/* 화면 넓이가 400이하인 경우 */
@media screen and (max-width: 400px) {
  html {
    font-size: 20px;
  }
  article {
    font-size: 20px;
    background-color: aquamarine;
  }
}

/* 화면 넓이가 900이상인 경우 */
@media screen and (min-width: 900px) {
  html {
    font-size: 20px;
  }
  article {
    background-color: lightsalmon;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
}
